body {
    font-family: Arial, sans-serif;
    background: #050505;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
}


.language {
    position: absolute;
    top: 25px;
    right: 30px;
    color: #d4af37;
    font-size: 15px;
    letter-spacing: 1px;
}


.hero {
    max-width: 900px;
    margin: 70px auto 0;
}


h1 {
    font-size: 52px;
    letter-spacing: 3px;
    margin-bottom: 35px;
    white-space: nowrap;
}


.hero > p {
    font-size: 22px;
    line-height: 2;
    color: #d6d6d6;
}


button {
    margin-top: 35px;
    padding: 16px 50px;
    font-size: 18px;
    color: #050505;
    background: #d4af37;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 70px;
}


.card,
.mission {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(212,175,55,0.25);
    border-radius: 20px;
    padding: 30px 20px;
    backdrop-filter: blur(10px);
}


.card h2,
.mission h2 {
    color: #d4af37;
    margin-bottom: 15px;
}


.card p,
.mission p {
    color: #cfcfcf;
    line-height: 1.8;
}


.mission {
    margin-top: 70px;
}
.join {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.join button:first-child {
    background: #d4af37;
    color: #050505;
}


.join button:last-child {
    background: transparent;
    color: #d4af37;
    border: 1px solid #d4af37;
}


.join button:hover {
    transform: translateY(-3px);
}

.signup-box {
    max-width: 420px;
    margin: 100px auto;
    padding: 40px 30px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(212,175,55,0.3);
    border-radius: 25px;
    backdrop-filter: blur(12px);
}


.signup-box h1 {
    font-size: 36px;
    white-space: normal;
}


.signup-box p {
    font-size: 18px;
    color: #cccccc;
}


.signup-box input {
    width: 90%;
    padding: 15px;
    margin: 10px;
    background: #111;
    color: white;
    border: 1px solid #333;
    border-radius: 15px;
}


.free {
    margin-top: 25px;
    color: #d4af37;
}

.login-box {
    max-width: 420px;
    margin: 100px auto;
    padding: 40px 30px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(212,175,55,0.3);
    border-radius: 25px;
    backdrop-filter: blur(12px);
}


.login-box h1 {
    font-size: 36px;
    white-space: normal;
}


.login-box p {
    font-size: 18px;
    color: #cccccc;
}


.login-box input {
    width: 90%;
    padding: 15px;
    margin: 10px;
    background: #111;
    color: white;
    border: 1px solid #333;
    border-radius: 15px;
}
